{% extends 'base.html.twig' %}

{% block title %}Knihy{% endblock %}

{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Můj seznam knih</h1>
        </div>
    </div>

    {% if books is empty %}
        <p>Knihy nebyly nalezeny</p>
    {% else %}
        <div class="float-right">
            <form>
                <select name='sorter' onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option {% if sort is defined and sort in "DESC" %}selected{% endif %} {% if app.request.uri|last in "/" %}
                            value="{{ path('books', {sort: "DESC"}) }}"{% else %}value="{{ app.request.uri ~ '&sort=DESC' }}"{% endif %}">
                        Posledně přečtené
                    </option>
                    <option {% if sort is defined and sort in "ASC" %}selected{% endif %} {% if app.request.uri|last in "/" %}
                            value="{{ path('books', {sort: "ASC"}) }}"{% else %}value="{{ app.request.uri ~ '&sort=ASC' }}"{% endif %}">
                        Prvně přečtené
                    </option>
                </select>
                <noscript><input type="submit" value="Submit"></noscript>
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 200px">Název knihy</th>
                    <th scope="col" style="width: 200px">Autor</th>
                    <th scope="col">Popis</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td><a href="{{ path('show_book', {id: book.id}) }}">{{ book.name }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>
                            {% if book.description|length > 250 %}
                                {{ book.description|slice(0, 250) }}...
                            {% else %}
                                {{ book.description }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
