<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | TS Čtenářský deník</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg {% if '/admin' in app.request.pathinfo %}navbar-dark bg-dark{% else %}navbar-light bg-light{% endif %}">
            <a class="navbar-brand" href="{{ path('books') }}"><strong>Čtenářský deník</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item {% if 'books' in active %}active{% endif %}">
                        <a class="nav-link" href="{% if '/admin' in app.request.pathinfo %}{{ path('admin_books') }}{% else %}{{ path('books') }}{% endif %}">Knihy</a>
                    </li>
                    <li class="nav-item {% if 'authors' in active %}active{% endif %}">
                        <a class="nav-link" href="{% if '/admin' in app.request.pathinfo %}{{ path('admin_authors') }}{% else %}{{ path('authors') }}{% endif %}">Autoři</a>
                    </li>
                    <li class="nav-item {% if 'genres' in active %}active{% endif %}">
                        <a class="nav-link" href="{% if '/admin' in app.request.pathinfo %}{{ path('admin_genres') }}{% else %}{{ path('genres') }}{% endif %}">Žánry</a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if '/admin' in app.request.pathinfo %}
                    <li><a href="{{ path('books') }}"><span class="glyphicon glyphicon-log-in"></span> Odhlásit</a></li>
                {% else %}
                    <li><a href="{{ path('admin_books') }}"><span class="glyphicon glyphicon-log-in"></span> Administrace</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="container">
            <div style="margin-top: 40px">
                {% block body %}{% endblock %}
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
